/* Reset CSS 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
End of Reset CSS */

html {
    margin: 0px;
    padding: 0px;
    min-width: 300px;
}

body {
    font-family: 'Playfair Display';
    display: grid;
    color: black;
    margin: 0;
    padding: 0;
    background: url("/img/background-all") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    position: relative;
    min-width: 300px;
}
.img-side {
    padding: 0;
    background: url("/Home/img/colors-Rw.jfif") repeat;
    background-attachment: fixed;
    background-size: 22%;
    bottom: 0;
    top: 0;
    width: 3em;
    position: absolute;
    height: 100%;
}

.img-right {
    margin: 0 0 0px 0;
    padding: 0;
    background: url("/Home/img/colors-Rw.jfif") repeat;
    background-attachment: fixed;
    background-size: 22%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3em;
    position: absolute;
    height: 100%;
}
.begin {
    display: grid;
    height: 100px;
    margin: 0px 0 0 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0em 0;
    margin-top: 0em;
}
.nav-img {
    background-image: url("/Home/img/colors-Rw.jfif");
    width: 100%;
    height: 1.5em;
    margin: 0px 0 0 0;
    padding: 0;
}
#check {
   display: none;
   margin: 0;
   padding: 0;
}
#menu-icon {
    font-size: 2.5em;
    color: black;
    margin: 0;
    padding: 0;
    display: none;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 31px;
    padding: 6px 20px;
    margin: 0px 0px 0px 70px;
    text-transform: uppercase;
    transition: all .3s;
}

.logo:hover {
    background-color: white;
 /*   box-shadow: 3px -3px gray; */
    border-radius: .4em;
    color: gray;
}
.home {
    font-size: 25px;
    display: none;
} 

nav {
    margin-right: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin: 0 30px 0 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 8px 9px;
    border-radius: .3em;
    transition: all .3s;
}
nav ul li a:hover {
    background-color: white;
    color: gray;
}
.active {
    background-color: gray;
    color: white;
}

.below-nav {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0px 0px;
}
.left-side {
    margin: 0px 0px 0 110px;
    display: grid;
    width: 350px;
    height: fit-content;
}
.left-side img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    box-shadow: -2px -2px 2px 2px gray;
    object-fit: cover;
}
i {
    display: none;
}

.below-profile { 
    font-size: 21px;
    margin: 20px 0 0em 0;
    border-radius: 10px;
    box-shadow: -2px -2px 2px 2px gray;
    height: 110px;
    background-color: #D0CFCF;
    font-weight: 500;
    text-align: center;
}

.name {
    margin-left: -5px;
}

.job {
    margin-left: -5px;
    font-size: 20px;
}

.right-side {
    width: fit-content;
    border-radius: 11px;
    box-shadow: -2px -2px 2px 2px gray;
    background-color: #D0CFCF;
    height: 480px;
    margin: 0 110px 0 0;
    padding: 0;
    color: #252525;
}

.education {
    margin: 0px 0px 0 10px;
    font-size: 31px;
    line-height: 16px;
}
.p1 {
    margin-top: 22px;
}
.p2 {
    margin-left: 30px;
}
.p3 {
    margin-left: 60px;
}

.comp {
    object-fit: cover;
    width: 410px;
    height: 140px;
    border-radius: 7px;
    box-shadow: -3px -4px gray;
    margin: 0 8px 0px 10px;
}
.login {
    border-radius: 7px;
    box-shadow: -3px -4px gray;
    margin: 20px 8px 0px 10px;
    height: 140px;
    width: 410px;
    padding: 0;
    text-align: center;
    font-size: 27px;
    line-height: 12px;
}

.log1 {
    padding-top: 16px;
    margin: auto;
}
.witharrow {
    display:flex;
    margin: -1em auto 0 auto;
    width: fit-content;
}

.arrow {
    width: 60px;
    margin: 12px 0 0 8px;
    height: 1.7em;
    transition: transform .5s;
    transition: width .5s;
}

.login:hover {
    background-color:#928f8c;
}
.login:hover .arrow {
    width: 2.5em;
    transform: translateX(10px);
}
 @media (max-width: 1110px) {
    
    nav ul {
        gap: 1em;
        margin-right: 0px;
    }
    nav ul li a {
        font-size: 2.5vw;
    }
    .left-side {
        margin-left: 50px;
        width: 300px;
    }
    .right-side {
        margin-right: 50px;
        width: 400px;
    }
    .education {
        font-size: 1.8rem;
    }
    .comp {
        width: 380px;
    }
    .login {
        width: 380px;
    }
    
 }
 @media (max-width: 885px) {
    .img-side, .img-right {
        width: 2.3em;
    }
    .nav-img {
        height: 1.2em;
    }
    .left-side {
        width: 32vw;
        gap: .7em;
    }
    .left-side img {
        height: 18em;
        border-radius: 5px;
    }
    .name, .job {
        font-size: 100%;
    }
    .below-profile {
        font-size: 86%;
        height: 14vh;
        border-radius: 5px;
    }
    .right-side {
        width: 40%;
        text-align: center;
        height: 66vh;
        border-radius: 5px;
    }
    .education {
        line-height: 3vh;
    }
    .comp{
        width: 94%;
        height: 18vh;
        border-radius: 5px;
    }
    .login {
        margin-left: 1vw;
        width: 95%;
        height: 18vh;
        border-radius: 5px;
    }
    
     .log1, .log2, .p1, .p2, .p3 {
        width: 98%;
        margin-left: 0;
        font-size: 2.8vw;
    }
    .witharrow {
        font-size: 78%;
    }
    .logo {
        font-size: 3.5vw;
        margin-left: 6vw;
    }
    
    nav ul li a {
        font-size: 18px;
        width: fit-content;
        padding: 5px 6px;
    }
    
 }
 #fa, #fb, #fc, #fd,#fe, #ff, #fg {
    display: none;
}
  
@media all and (max-width: 750px) {

    .img-right, .img-side {
        opacity:20%;
        background-attachment: fixed;
    }
    .nav-img {
        background: url(/img/colors-Rw\ 3.jfif);
        margin: -37em 0 0 4.7em;
        height: 6.5em;
        width: 80vw;
        opacity: 10%;
        position: relative;
    }
    #fa, #fb, #fc, #fd,#fe, #ff, #fg {
        display: inline;
    }
    #menu-icon {
        color: black;
        font-size: 40px;
        margin-left: 38px;
        cursor: pointer;
        transition: all .5s ease;
        width: 30px;
        display: inline;
    }
    .logo {
        display: none;
    }
   
    header {
        display: grid;
        gap: 2em;
    }
    nav ul {
        background-image: url("/img/background-all");
        object-fit: contain;
        display: grid;
        gap: 0em;
        position: relative;
        margin-top: 0px;
        padding:  30px 20px 30px 20px;
        transition: all .5s ease;
        left: -100%;
        width: 50vw;
        height: 70vh;
    }
    
    nav ul li{
        margin: auto;
        width: 27vw;
    }
    nav ul li a{
        font-size: 4vw;
    }
    
    .home {
        display: inline;
    }
    #check:checked ~ nav ul {
        left: 0;
      }
    #check:checked ~ #menu-icon {
        rotate: -90deg;
    }
    .left-side {
        text-align: center;
        width: 90%;
        margin: -20px 20px 0 20px;
        gap: 0em;
    }
    .below-nav {
        display: grid;
        gap: 4em;
    }
    .left-side img {
        height: 100%;
        width: 80vw;
    }
    .below-profile {
        background: none;
        height: 100%;
        line-height: 5vh;
        font-weight:500;
    }
    .name {
        font-size: 4.5vw;
    }
    .job {
        font-size: 4.4vw ;
    }
    
    .right-side {
        background: none;
        width: 80vw;
        margin: 0px 20px;
        height: 100%;
        
    }
      .comp {
        width: 65vw;
        text-align: auto;
        height: 7em;
        margin: 1em 0 0 0;
    }
    
     .education {
        margin: 0;
        text-align: center;
        font-weight: 0;
    }
    .p1, .p2, .p3{
        font-size: 5vw;
        line-height: 1.7em;
        margin: 0;
        width: auto;
    }
    .login {
        text-align: center;
        line-height: 1.5vh;
        margin: 1em 0 1em 1.4em;
        height: 4em;
        width: 65vw;
    }
    .log1, .log2, .log3 {
        font-size: 1.5rem;
    }
    .arrow {
        width: 2em;
    }
}

@media (max-width: 390px) {
    .log1, .log2, .log3 {
        font-size: 1rem;
    }
    .login {
        margin: 1em 0 1em 1em;
    }
    body {
        min-width: 300px;
    }
}
