html {
    margin: 0px;
    padding: 0px;
    min-width: 300px;
}

body {
    font-family: 'Playfair Display';
    display: grid;
    color: black;
    margin: 0;
    padding: 0;
    background: url("../img/background-all") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    position: relative;
    min-width: 300px;
}
.img-side {
    padding: 0;
    background: url("../Home/img/colors-Rw.jfif") repeat;
    background-attachment: fixed;
    background-size: 22%;
    bottom: 0;
    top: 0;
    width: 3em;
    position: absolute;
    height: 100%;
}

.img-right {
    margin: 0 0 0px 0;
    padding: 0;
    background: url("../Home/img/colors-Rw.jfif") repeat;
    background-attachment: fixed;
    background-size: 22%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3em;
    position: absolute;
    height: 100%
}
.begin {
    display: grid;
    height: 100px;
    margin: 0px 0 0 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0em 0;
    margin-top: 0em;
}
.nav-img {
    background-image: url("/Home/img/colors-Rw.jfif");
    width: 100%;
    height: 1.5em;
    margin: 0px 0 0 0;
    padding: 0;
}
#check {
   display: none;
   margin: 0;
   padding: 0;
}
#menu-icon {
    font-size: 2.5em;
    color: black;
    margin: 0;
    padding: 0;
    display: none;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 31px;
    padding: 6px 20px;
    margin: 0px 0px 0px 70px;
    text-transform: uppercase;
    transition: all .3s;
}

.logo:hover {
    background-color: white;
 /*   box-shadow: 3px -3px gray; */
    border-radius: .4em;
    color: gray;
}
.home {
    font-size: 25px;
    display: none;
} 

nav {
    margin-right: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin: 0 30px 0 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 8px 9px;
    border-radius: .3em;
    transition: all .3s;
}
nav ul li a:hover {
    background-color: white;
    color: gray;
}
.active {
    background-color: gray;
    color: white;
}
#fa, #fb, #fc, #fd,#fe, #ff, #fg {
    display: none;
}

.below-nav {
    display: grid;
    padding: 0;
    margin: -7vw 0 0 0;
    gap: 0;
}
.subscribe {
    margin: auto;
    height: 27vw;
    width: 40vw;
    display: flex;
    border-radius: .8vw;
    box-shadow: -2px -2px 2px 2px gray;
}
.usb {
    width: 9.5vw;
    background-attachment: fixed;
    object-fit: cover;
    object-position: center;
    height: 25vw;
    margin: auto;
}
.writing {
    padding: 0 0 0vw 1vw;
    display: grid;
    gap: 2vw;
}
.sentence {
    font-size: 1.8vw;
    width: 27vw;
    text-align: center;
    margin: .7vw 0 0 0vw;
}
.writing img {
    height: 4vw;
    width: 4vw;
    margin: -1.5vw 0 0 0;
}
.name, .email {
    display: flex;
    gap: 1vw;
    margin: 0vw 0 0vw .8vw;
}

input {
    height: 3vw;
    width: 21vw;
    border: none;
    box-shadow: -1px -1px 2px 2px #7a7878;
    border-radius: .5vw;
    font-size: 1.2vw;
}

.subscribe button {
    border: none;
    background-color: #F8F8F8;
    height: 3.5vw;
    width: 9vw;
    margin: auto;
    font-size: 1.6vw;
    border-radius: .5vw;
    line-height: 0;
    background-color: gray;
    transition: all .3s;
    cursor: pointer;
}
.subscribe button:hover {
    color: white;
}
.social {
    background-color: ;
    height: ;
    margin: 0vw auto 0 auto;
    display: flex;
    gap: 3vw;
}
.social a img {
    height: 3.3vw;
}

@media (max-width: 1060px) {
    nav ul {
        gap: 1em;
        margin-right: 0px;
    }
    nav ul li a {
        font-size: 2.3vw;
        padding: .3em;
    }
    .img-side, .img-right {
    }
    .logo {
        font-size: 3.2vw;
    }
    .below-nav {
        display: grid;
        padding: 0;
        margin: -7vw 0 0 0;
        gap: 0;
    }
    .subscribe {
        margin: auto;
        height: 38vw;
        width: 50vw;
    }
    .usb {
        width: 14vw;
        height: 35vw;
        margin: auto;
    }
    .writing {
        padding: 1.7vw 0 0vw 2vw;
        gap: 2vw;
    }
    .sentence {
        font-size: 2.3vw;
        width: 32vw;
    }
    .writing img {
        height: 6vw;
        width: 6vw;
        margin: -1.5vw 0 0 0;
    }
    .name, .email {
        gap: 2vw;
        margin: -2vw 0 0vw .8vw;
    }
    
    input {
        height: 4vw;
        width: 25vw;
        border: none;
        font-size: 1.5vw;
    }
    
    .subscribe button {
        border: none;
        height: 4.5vw;
        width: 13vw;
        font-size: 2vw;
        line-height: 0;
    }
    .social {
        margin: 0vw auto 0 auto;
        display: flex;
        gap: 4vw;
    }
    .social a img {
        height: 4.5vw;
    }
    
}

@media (max-width: 717px) {
    #fa, #fb, #fc, #fd,#fe, #ff, #fg {
        display: inline;
    }
    
    .img-right, .img-side {
        opacity:20%;
        top: 0;
        width: 2.3em;
        bottom: 0;
        background-attachment: fixed;
    }
    .nav-img {
        background: url("/img/colors-Rw\ 3.jfif");
        margin: -37em 0 0 4.7em;
        height: 6.5em;
        width: 80vw;
        opacity: 10%;
        position: relative;
    }
    .logo {
        display: none;
    }
   
    header {
        display: grid;
        gap: 2em;
    }
    nav ul {
        background-image: url("/img/background-all");
        object-fit: contain;
        display: grid;
        gap: 0em;
        position: relative;
        margin-top: 0px;
        padding:  30px 20px 30px 20px;
        transition: all .5s ease;
        left: -100%;
        width: 50vw;
        height: 70vh;
    }
    nav ul li{
        margin: auto;
        width: 27vw;
    }
    nav ul li a{
        font-size: 4vw;
    }
    #menu-icon {
        color: black;
        font-size: 40px;
        margin-left: 38px;
        cursor: pointer;
        transition: all .5s ease;
        width: 30px;
        display: inline;
    }
    .home {
        display: inline;
    }
    #check:checked ~ nav ul {
        left: 0;
      }
    #check:checked ~ #menu-icon {
        rotate: -90deg;
    }
    
    .below-nav {
        display: grid;
        padding: 0;
        gap: 0;
    }
    .subscribe {
        margin: auto;
        height: 60vw;
        width: 73vw;
        display: flex;
        border-radius: 1vw;
        box-shadow: -2px -2px 2px 2px gray;
    }
    .usb {
        width: 20vw;
        background-attachment: fixed;
        object-fit: cover;
        object-position: center;
        height: 50vw;
        margin: auto;
    }
    .writing {
        padding: 2.7vw 0 0vw 3vw;
        display: grid;
        gap: 2vw;
    }
    .sentence {
        font-size: 3.7vw;
        width: 49vw;
        text-align: center;
    }
    .writing img {
        height: 9vw;
        width: 9vw;
        margin: -3vw 0 0 0;
    }
    .name, .email {
        display: flex;
        gap: 4vw;
        margin: -2vw 0 0vw .8vw;
    }
    
    input {
        height: 5.5vw;
        width: 37vw;
        border: none;
        box-shadow: -1px -1px 2px 2px #7a7878;
        border-radius: .5vw;
        font-size: 2.2vw;
    }
    
    .subscribe button {
        height: 7vw;
        width: 18vw;
        margin: auto;
        font-size: 3vw;
    }
    .social {
        display: flex;
        gap: 5vw;
    }
    .social a img {
        height: 7vw;
    }
    
}